.app-container {
  display: flex;
}
.sidebar {
  height: 800px;
}
.card {
  margin: 20px 50px;
}
.hashtags {
  margin: 0px 3px;
}
.reactions {
  margin-top: 10px;
  width: 100%;
}

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.welcome-msg {
  margin-top: 150px;
  margin-bottom: 20px;
}

.delete-post {
  cursor: pointer;
}
.login {
  padding-inline-start: 127px;
}
.card-design {
  margin-left: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-design:hover {
  transform: scale(1.1);
}
